Hello <%= name %>.  What is your age?

<!-- 	<form method="post" action="/age">
		<input type="number" name="user_age">
		<input type="hidden" name="user_name" value=<%= name %>>
		<input type="submit">
	</form>
 -->

<form method = "post" action = "/age">
<input type = "number" min = "1" max = "150" name = "age">
<input type = "hidden" name = "user_name" value = <%= name %>>
<input type = "submit">
</form>

